:root {
    --accent: #437FC8;
    --transition: all 0.15s ease-in-out;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('/public/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('/public/fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('/public/fonts/Montserrat-SemiBold.woff2') format('woff2');
}

html, body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif, system-ui;
}

hr {
    border: 1px solid #E5E5E5;
}

.section {
    padding-block: 80px;
}

.wrapper {
    width: 1407px;
    margin: 0 auto;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.button--white {
    background-color: white;
    color: var(--accent);
    border-radius: 50%;
}

.button--not-stock {
    background-color: #999999;
}

.section__title {
    font-weight: 400;
    font-size: 30px;
}